 <section id="blog-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="blog-detail">
          <div class="blog-detail-img"><img src="{{content.field_image.0}}" class="img-responsive" alt="causes"></div>
          <div class="blog-detail-body">
            <h3>{{ node.title.value }}</h3>
            <div class="blog-detail-title-img"><img src="{{ url('<front>') }}/themes/yg_charity/images/line.gif" class="img-responsive" alt="title"></div>
            <p class="text-center"><span><i class="fa fa-calendar"></i>{% if date %}  {{ date }} {% endif %}</span></p>
            <p>{{ content.body }}</p>
          </div>
       </div>
      </div>
    </div>
  </div>
</section>
